@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900|Merriweather&display=swap');

body {
  margin: 0;
  width: 100vw;
  background-color: #E0E6DC;
}

#landing {
  font-family: 'Lato', sans-serif;
  text-align: center;
  min-height: 90vh;
  background-image: url('unsplash.jpg');
  background-size: cover;
  color: #f9fff5;
  background-attachment: fixed;
}

#title {
  position: absolute;
  top: 25vh;
  width: 100%;
}
#title img {
  height: 30vh;
  margin: auto;
  max-width: 85vw;
  object-fit: contain;
}
#navigation {
  width: 100%;
  height: 60px;
  background-color: #3e403d;
  position: relative;
}

#navigation>div {
  float: right;
}

#navigation a {
  min-height: 60px;
  padding: 0em 2em;
  display: inline-block;
  line-height: 60px;
  box-sizing: border-box;
  color: #f9fff5;
  text-decoration: none;
  transition: .2s;
}

#navigation a:hover {
  background-color: #E0E6DC;
  color: #3e403d;
}

#searchbar {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 2em;
  display: flex;
  position: relative;
  background-color: #3E403D;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 9px 9px rgba(100, 100, 100, .5);
  z-index: 3;
}

#loading {
  height: 80vh;
}

#load {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  border: 10px #3E403D solid;
  border-bottom-style: hidden;
  transform: rotate(0deg);
  animation: rotate 1s ease-in infinite;
}

#nores {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #E0E6DC;
  margin: 0;
  padding-top: 70px;
}

.searchInput {
  border-radius: .5em;
  background-color: #F9FFF5;
  position: relative;
  max-width: 20vw;
  min-width: 200px;
  margin: 20px;
  height: 60px;
  font-family: 'Lato', sans-serif;
  box-shadow: inset 0px 0px 7px 7px #E0E6DC;
}

.searchInput input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: #3E403D;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 60px;
  flex-grow: 1;
}

.searchInput input[type=radio]:hover {
  background-color: #E0E6DC;
}

.searchInput input[type=radio]:checked {
  background-color: #E0E6DC;
}

.searchInput>label {
  position: absolute;
  top: -23px;
  left: 0px;
  font-size: 1em;
  color: #F9FFF5;
}

.buttons label {
  position: relative;
  line-height: 60px;
  width: 0;
  left: -33px;
  font-size: 1.5em;
  color: #3E403D;
}

.buttons {
  display: flex;
  border-radius: .5em;
  overflow: hidden;
  box-shadow: inset 0px 0px 14px 10px #E0E6DC;
}

.searchInput input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 90%;
  background-color: #E0E6DC;
  border: 2px solid #3E403D;
  border-radius: 30px;
  margin: 25px 5%;
  outline: none;
}

.searchInput input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #3E403D;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#rentals {
  height: 600px;
  max-height: 80vh;
  box-sizing: border-box;
  overflow: scroll;
  position: relative;
  padding-top: 2em;
  background-color: #E0E6DC;
  z-index: 2;
}

.property {
  width: 95%;
  max-width: 800px;
  display: flex;
  margin: 0px auto 20px;
  border-radius: .5em;
  overflow: hidden;
  transition: .2s;
  position: relative;
  top: 0px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 9px #777;
  cursor: pointer;
  background-color: #777;
  z-index: 1;
}

#focus {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  border-radius: .5em;
  background-color: #fff;
  z-index: 10;
}

.property:hover {
  top: -5px;
  box-shadow: 0px 5px 9px #aaa;
}

.houseimg {
  height: 240px;
  width: 240px;
  object-fit: cover;
  flex-grow: 1;
}

.propertydesc {
  flex-grow: 9999;
  flex-basis: 400px;
  height: 240px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1em;
  font-family: 'Lato', sans-serif;
  background-color: #F9FFF5;
  color: #3E403D;
}

.descheader {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.address {
  font-style: italic;
  margin-bottom: 1em;
}

.desc, #description, #available {
  font-family: 'Merriweather', serif;
}

.unav {
  line-height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(100, 100, 100, .7);
  font-size: 3em;
  text-align: center;
  height: 240px;
  width: 100%;
  font-weight: 700;
  opacity: 0;
  transition: .2s;
  font-family: 'Lato', sans-serif;
  display: none;
}

.unavailable .unav {
  opacity: 1;
  display: block;
}

.property:hover .unav {
  opacity: 0;
  display: none;
}

#propContainer {
  background-color: #F9FFF5;
  width: 90vw;
  height: 90vh;
  overflow: scroll;
  margin: 5vh 5vw;
  border-radius: .5em;
  box-shadow: 0px 0px 9px #777;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#propNav {
  display: flex;
}
#imageMapCol {
  width: 100%;
  flex-basis: 400px;
  flex-grow: 1;
}

#descCont {
  width: 100%;
  min-height: 90vh;
  flex-basis: 400px;
  flex-grow: 9999;
  background-color: #F9FFF5;
  padding: 2em;
  box-sizing: border-box;
  position: relative;
}

#imageCont {
  width: 100%;
  height: 60%;
  min-height: 350px;
  background-size: cover;
}

#mapCont {
  width: 100%;
  height: 40%;
  min-height: 250px;
  max-height: 350px;
  background-color: #F9FFF5;
}

#map {
  height: 100%;
  width: 100%;
}

#priceAddress {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 2em;
}
.poa {
  font-family: 'Lato', sans-serif;
  color: #3E403D;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: .5em;
}
#description {
  width: 100%;
  max-width: 600px;
  margin: 5em auto;
}
#bedbath {
  font-family: 'Lato', sans-serif;
  color: #3E403D;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 1em;
}
#apply {
  padding: 1em;
  border-radius: .5em;
  background-color:#3E403D;
  color: #F9FFF5;
  width: 120px;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.3em;
  box-shadow: 0px 0px 9px #777;
  position: absolute;
  bottom: 2em;
  right: 2em;
  transition: .2s;
  cursor: pointer;
}
#available {
  position: absolute;
  bottom: 2em;
  left: 2em;
}
#apply:hover {
  background-color: #7D807A;
}
#back {
  min-width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%233E403D' d='M464.3,207.4l0.8,0.2H135.9l103.5-103.7c5.1-5.1,7.8-11.9,7.8-19.1c0-7.2-2.8-14-7.8-19.1l-16.1-16.1 c-5.1-5.1-11.8-7.9-19-7.9c-7.2,0-14,2.8-19,7.8L7.8,226.9C2.8,232,0,238.8,0,246c0,7.2,2.8,14,7.8,19.1l177.4,177.4 c5.1,5.1,11.8,7.8,19,7.8c7.2,0,13.9-2.8,19-7.8l16.1-16.1c5.1-5.1,7.8-11.8,7.8-19c0-7.2-2.8-13.6-7.8-18.7L134.7,284.4h330 c14.8,0,27.3-12.8,27.3-27.6V234C492,219.2,479.2,207.4,464.3,207.4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s;
  cursor: pointer;
  flex-basis: 40px;
}
#back:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%237D807A' d='M464.3,207.4l0.8,0.2H135.9l103.5-103.7c5.1-5.1,7.8-11.9,7.8-19.1c0-7.2-2.8-14-7.8-19.1l-16.1-16.1 c-5.1-5.1-11.8-7.9-19-7.9c-7.2,0-14,2.8-19,7.8L7.8,226.9C2.8,232,0,238.8,0,246c0,7.2,2.8,14,7.8,19.1l177.4,177.4 c5.1,5.1,11.8,7.8,19,7.8c7.2,0,13.9-2.8,19-7.8l16.1-16.1c5.1-5.1,7.8-11.8,7.8-19c0-7.2-2.8-13.6-7.8-18.7L134.7,284.4h330 c14.8,0,27.3-12.8,27.3-27.6V234C492,219.2,479.2,207.4,464.3,207.4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
